#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/*逻辑像素的width:375px,dpr=3;  375*1%=3.75px   1vw=3.75px*/
html,body{
	height:100%;
}

/*html{
	--font-size:26.67vw;
}*/
body{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
}
section{
	flex:1;
	overflow:auto;
	position:absolute;
	top:1.8rem;
	bottom:1.024rem;
	width:100%;
}
